*{
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: #FD903E;
}
#titlePage,#playPage,#endPage{
    width: 100vw;
    height: 100vh;
}
#playPage,#endPage{
    display: none;
}

.numboard{
    text-align: center;
    max-width: 300px;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

@media(min-width:414px){
    .numboard{
        display: none;
    }
}